.nav {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.5rem 0;
  background-color: var(--light-dark-color);
  transition: transform 0.5s ease, background 0.5s ease-in-out;
}

nav[data-direction="down"] {
  transform: translate3d(0, -100%, 0);
}

.nav .inner__nav {
  width: 90%;
  margin: 0 auto;
}

.nav .inner__nav .logo {
  font-size: var(--h6-font);
  font-weight: bold;
  color: var(--theme-color);
  letter-spacing: 1px;
}

.nav .inner__nav .nav__links {
  width: fit-content;
}

.nav .inner__nav .nav__links a {
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav .inner__nav .nav__links a:hover {
  color: var(--theme-color);
}

.nav .inner__nav .nav__links a::after {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--theme-color);
  content: "";
  bottom: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav .inner__nav .nav__links a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* footer */

footer {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}

footer .container {
  width: 100%;
  height: 100%;
}

footer .container a {
  font-weight: 400;
  cursor: pointer;
  padding: 0.4rem 0.4rem;
}

footer .container p {
  font-size: 1rem;
  letter-spacing: 1px;
}

footer .container a:hover {
  color: var(--theme-color);
}

footer .container a::after {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--theme-color);
  content: "";
  bottom: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

footer .container a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* next */

/* next btn */

.next__btn {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.next__btn .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next__btn .container a {
  font-size: var(--h4-font);
  font-family: var(--robo-font);
  font-weight: 500;
}

.next__btn .container h4 {
  color: var(--theme-color);
  margin-top: 1rem;
  font-weight: 400;
  font-size: var(--a-font);
}

.next__btn .container a h1 {
  position: relative;
  width: fit-content;
  padding: 0.4rem 1rem;
}

.next__btn .container a h1::after {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--theme-color);
  content: "";
  bottom: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.next__btn .container a h1:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* overlay */

.overlay__main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* hamb start */

.hamb {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 0.8rem;
  right: 1rem;
  z-index: 110;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
  display: none;
  mix-blend-mode: difference;
}

.hamb div {
  transition: all 0.5s ease;
  width: 3rem;
  height: 2px;
  border-radius: 20px;
  background-color: var(--white-color);
}

.hamb.active div:nth-of-type(1) {
  transform: translateX(-100%);
  opacity: 0;
}

.hamb.active div:nth-of-type(3) {
  transform: translateX(100%);
  opacity: 0;
}

.hamb div:nth-of-type(2) {
  border-radius: 0;
}

.hamb.active div:nth-of-type(2) {
  height: 100%;
  border-radius: 0;
  background-color: var(--theme-color);
}

.hamb:hover div {
  background-color: var(--theme-color);
}

.hamb__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: var(--black-color);
  transition: all 0.5s ease;
  transform: translateX(100%);
  padding: 3rem 2rem;
}

.hamb__menu.active {
  transform: translateX(0);
}

.hamb__menu .hamb__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hamb__menu .text__box {
  width: 100%;
  height: fit-content;
  padding: 3rem 0;
  border-top: 1px solid rgba(129, 129, 129, 0.6);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
}

.hamb__menu .text__box a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2rem;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--a-font);
  opacity: 0;
}

.hamb__menu .text__box a:hover {
  color: var(--theme-color);
}

.hamb__menu .text__box:nth-of-type(5) {
  border-bottom: 1px solid rgba(129, 129, 129, 0.6);
}

.hamb__menu h6 {
  font-size: (--p-font);
  font-weight: 300;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.hamb__menu h6 span a {
  color: var(--theme-color);
}
/* hamb end */

/* media querries */

@media only screen and (max-width: 1200px) {
  nav .nav__links {
    display: none;
  }
  .hamb {
    display: flex;
  }
}

@media only screen and (max-width: 580px) {
  footer .container {
    flex-direction: column;
  }
  footer .container p {
    margin: 1rem 0;
  }
  footer {
    padding: 3rem 0;
  }
}

@media only screen and (max-width: 680px) {
  .next__btn .container a {
    font-size: var(--h5-font);
  }
}

@media only screen and (max-width: 400px) {
  .next__btn {
    min-height: 30vh;
  }
}
