@import url(./global.css);
@import url(./nav.css);

body {
  color: var(--white-color);
  background-color: var(--light-dark-color);
  transition: background 0.5s ease;
}
a {
  color: var(--white-color);
}

/* custom style */

.has-scroll-smooth body {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* banner */

.banner {
  width: 100%;
  height: 100%;
  padding: 20vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .container {
  width: 100%;
  height: fit-content;
}

.banner .container .text__box {
  width: fit-content;
}

.banner .container .text__box h1 {
  font-size: var(--h3-font);
  font-weight: bold;
  font-family: var(--robo-font);
  text-transform: capitalize;
  letter-spacing: 3px;
}

.banner .container .text__box:nth-of-type(2) {
  margin-top: 2rem;
}

.banner .container .text__box h4 {
  color: var(--theme-color);
  font-size: var(--a-font);
  font-weight: 400;
  letter-spacing: 1px;
}

/* portfolio */

.portfolio {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 5vh 0;
}

.portfolio .container {
  width: 100%;
  max-width: 1400px;
  height: auto;
}

.portfolio .container .work {
  width: 100%;
  height: fit-content;
  padding: 2rem 0;
}

.portfolio .container .work__rev {
  flex-direction: row-reverse;
}

.portfolio .container .work__pic {
  max-width: 60%;
  width: 100%;
  height: auto;
  min-height: 80vh;
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .container .work__content {
  flex: 0 0 40%;
  width: 100%;
  height: auto;
  padding-left: 4rem;
  max-width: 40%;
}

.portfolio .container .work__pic .img__box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.5s linear;
  will-change: transform;
}

.portfolio .container .work__pic .img__box img {
  width: 100%;
  height: 100%;
  min-height: 35rem;
  transform-origin: center;
  transition: transform 1s ease;
}

.portfolio .container .work__pic .img__box img:hover {
  transform: scale(1.1);
}

.portfolio .container .work__content h1 {
  font-family: var(--robo-font);
  font-size: var(--h5-font);
  font-weight: 600;
  letter-spacing: 2px;
}

.portfolio .container .work__content h4 {
  font-size: var(--a-font);
  color: var(--theme-color);
  font-weight: 400;
  /* margin-top: 0.5rem; */
}

/* webgl  container  */

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* overlay */

.overlay {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
}

/* media querries */

@media only screen and (max-width: 1320px) {
  .container {
    max-width: 90%;
  }
  .portfolio .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio .container .work {
    flex-direction: column;
  }
  .portfolio .container .work__pic,
  .portfolio .container .work__content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 680px) {
  :root {
    --h3-font: 4.5rem;
  }
}

@media only screen and (max-width: 520px) {
  :root {
    --h3-font: 3.5rem;
    --h5-font: 2rem;
  }
  .portfolio .container .work__pic .img__box img {
    min-height: fit-content;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --h3-font: 2.6rem;
  }
}
