@import url(./global.css);
@import url(./nav.css);

nav {
  background-color: var(--white-color) !important;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: var(--h4-font);
  font-weight: 600;
  font-family: var(--robo-font);
}
